.select {
  height: 30px;
  border-radius: 5px;
  border: 0;
  font-size: inherit;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px;
  background-color: #e0d4f8;
  transition: all 0.15s ease-in-out;

  &:focus-visible {
    background-color: #fff;
    outline: none;
    &__option {
      width: 200px !important;
      height: 30px !important;
      // border-radius: 5px;
      padding: 10px !important;
    }
  }
}
