.header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 570px) {
    height: 70px;
  }
	@media (max-width: 420px) {
     height: 50px;
    }

  &__logo {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    line-height: 21px;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
    &:hover {
      filter: brightness(0.8);
    }
    @media (max-width: 570px) {
      font-size: 16px;
    }
    @media (max-width: 420px) {
      font-size: 12px;
    }
  }

  &__rate {
    display: flex;
    letter-spacing: 0.03em;
    align-items: center;
    span {
      margin-right: 30px;
    }
    @media (max-width: 570px) {
      span {
        margin-right: 10px;
        font-size: 12px;
      }
    }
		  @media (max-width: 420px) {
      span {
				font-size: 10px;
				display: none;
			}
    }
  }
  &__button {
		display: flex;
		align-items: center;
		justify-content: center;
    text-transform: uppercase;
    width: 110px;
    height: 35px;
    padding: 0;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 600;
    line-height: 21px;
    color: white;
    background-color: inherit;
    cursor: pointer;
    border: 1px solid;
    border-color: #fff;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #fff;
      color: #402677;
      // border-color: #402677;
    }
    @media (max-width: 570px) {
      font-size: 12px;
      width: 100px;
      height: 30px;
    }
		 @media (max-width: 420px) {
    font-size: 10px;
		 width: 80px;
      height: 20px;
    }
		
  }
}
